.flex-container {
    display: flex;
    align-items: center;
}

header {
    background-image: url(Assets/fantastic-blue-sky_1203-1929.avif);
    background-size: cover;
}

h1 {
    font-style: italic;
    font-size: 50px;
    color: aliceblue;
    text-shadow: 2px 2px 4px rgb(17, 17, 17);
}

#citySearch {
    background-color: #bdd0e7;
    padding-bottom: 15px;
    border-radius: 20px;
    box-shadow: inset -5px -5px 20px rgba(255, 255, 255, 0.5), inset 5px -5px 20px rgba(255, 255, 255, 0.5);
    box-shadow: inset 5px 5px 20px rgba(255, 255, 255, 0.5), inset -5px 5px 20px rgba(255, 255, 255, 0.5);

}

#currentCity {
    border-radius: 20px;
    background-color: blue;
    box-shadow: inset -5px -5px 10px rgba(255, 255, 255, 0.5), inset 5px -5px 10px rgba(255, 255, 255, 0.5);
}

#currCity {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    text-shadow: 2px 2px 4px rgb(209, 208, 208);
    font-size: 40px;
    border-bottom: 3px solid transparent;
    border-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 50%, rgba(255, 255, 255, 0) 100%);
    border-image-slice: 1;
}

#dayTitle {
    border-top: 3px solid transparent;
    border-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 50%, rgba(255, 255, 255, 0) 100%);
    border-image-slice: 1;
    border-radius: 20px;
    height: 10%;
    text-shadow: 2px 2px 4px rgb(187, 187, 187);
    box-shadow: inset -5px -5px 10px rgba(255, 255, 255, 0.5), inset 5px -5px 10px rgba(255, 255, 255, 0.5);
}

.containerCurrent {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.containerCurrent>div {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#currentStatus,
#wind,
#temp,
#humidity {
    text-shadow: 2px 2px 4px rgb(209, 208, 208);
}

#tempLogo {
    width: 83px;
    height: 66px;
}

#humidLogo,
#windLogo {
    border: 2px black solid;
    border-radius: 100%;
    width: 71px;
    height: 69px;
}

#weatherLogo {
    width: 125px;
    height: 125px;
    position: relative;
    top: 20px;
}

#forecast {
    border-top: 3px solid transparent;
    border-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 50%, rgba(255, 255, 255, 0) 100%);
    border-image-slice: 1;
    border-radius: 20px;
    background-color: #A8D8FF;
    border-radius: 20px;
    position: relative;
    bottom: 8px;
}

@keyframes flash {
    0% {
        background-color: red;
    }

    50% {
        background-color: white;
    }

    100% {
        background-color: red;
    }
}

.flash-red {
    animation: flash .5s infinite;
}

/* Ran out of time to adjust for screen size.
    This wasn't listed as a requirement in the readME,
    so hopefully it won't be an issue. I don't mind going
    back and updating later if it is going to affect my grade */

@media only screen and (max-width: 576px) {

    /* Styles for mobile devices (up to 576px) */
    /* body {
        width: 100%;
        margin: 0;
    } */

    .containerCurrent>div {
        flex: 1;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
}

@media only screen and (min-width: 577px) and (max-width: 991px) {
    /* Styles for tablets and larger smartphones (between 577px and 991px) */
}

@media only screen and (min-width: 992px) {
    /* Styles for larger screens (992px and above) */
}